:root {
  --www-genesis-live-semantic-heading-1-font-family: "IBM Plex Sans", Helvetica;
  --www-genesis-live-semantic-heading-1-font-weight: 400;
  --www-genesis-live-semantic-heading-1-font-size: 64px;
  --www-genesis-live-semantic-heading-1-letter-spacing: -2.559999942779541px;
  --www-genesis-live-semantic-heading-1-line-height: 76.80000305175781px;
  --www-genesis-live-semantic-heading-1-font-style: normal;
  --www-genesis-live-semantic-heading-6-font-family: "IBM Plex Sans", Helvetica;
  --www-genesis-live-semantic-heading-6-font-weight: 500;
  --www-genesis-live-semantic-heading-6-font-size: 14px;
  --www-genesis-live-semantic-heading-6-letter-spacing: -0.2800000011920929px;
  --www-genesis-live-semantic-heading-6-line-height: 24px;
  --www-genesis-live-semantic-heading-6-font-style: normal;
  --www-genesis-live-semantic-input-font-family: "IBM Plex Sans", Helvetica;
  --www-genesis-live-semantic-input-font-weight: 400;
  --www-genesis-live-semantic-input-font-size: 16px;
  --www-genesis-live-semantic-input-letter-spacing: 0px;
  --www-genesis-live-semantic-input-line-height: 16px;
  --www-genesis-live-semantic-input-font-style: normal;
  --www-genesis-live-semantic-link-font-family: "IBM Plex Sans", Helvetica;
  --www-genesis-live-semantic-link-font-weight: 400;
  --www-genesis-live-semantic-link-font-size: 40px;
  --www-genesis-live-semantic-link-letter-spacing: -1.600000023841858px;
  --www-genesis-live-semantic-link-line-height: 38px;
  --www-genesis-live-semantic-link-font-style: normal;
  --www-genesis-live-semantic-options-font-family: "Inter", Helvetica;
  --www-genesis-live-semantic-options-font-weight: 400;
  --www-genesis-live-semantic-options-font-size: 11.600000381469727px;
  --www-genesis-live-semantic-options-letter-spacing: 0px;
  --www-genesis-live-semantic-options-line-height: 14px;
  --www-genesis-live-semantic-options-font-style: normal;
  --www-genesis-live-IBM-plex-mono-regular-font-family: "IBM Plex Mono",
    Helvetica;
  --www-genesis-live-IBM-plex-mono-regular-font-weight: 400;
  --www-genesis-live-IBM-plex-mono-regular-font-size: 14px;
  --www-genesis-live-IBM-plex-mono-regular-letter-spacing: 0px;
  --www-genesis-live-IBM-plex-mono-regular-line-height: 16px;
  --www-genesis-live-IBM-plex-mono-regular-font-style: normal;
  --www-genesis-live-IBM-plex-sans-regular-font-family: "IBM Plex Sans",
    Helvetica;
  --www-genesis-live-IBM-plex-sans-regular-font-weight: 400;
  --www-genesis-live-IBM-plex-sans-regular-font-size: 14px;
  --www-genesis-live-IBM-plex-sans-regular-letter-spacing: 0.14000000059604645px;
  --www-genesis-live-IBM-plex-sans-regular-line-height: 16px;
  --www-genesis-live-IBM-plex-sans-regular-font-style: normal;
  --www-genesis-live-IBM-plex-sans-medium-font-family: "IBM Plex Sans",
    Helvetica;
  --www-genesis-live-IBM-plex-sans-medium-font-weight: 500;
  --www-genesis-live-IBM-plex-sans-medium-font-size: 14px;
  --www-genesis-live-IBM-plex-sans-medium-letter-spacing: 0.14000000059604645px;
  --www-genesis-live-IBM-plex-sans-medium-line-height: 20px;
  --www-genesis-live-IBM-plex-sans-medium-font-style: normal;
  --www-genesis-live-IBM-plex-sans-medium-strikethrough-font-family: "IBM Plex Sans",
    Helvetica;
  --www-genesis-live-IBM-plex-sans-medium-strikethrough-font-weight: 500;
  --www-genesis-live-IBM-plex-sans-medium-strikethrough-font-size: 13px;
  --www-genesis-live-IBM-plex-sans-medium-strikethrough-letter-spacing: 0.12999999523162842px;
  --www-genesis-live-IBM-plex-sans-medium-strikethrough-line-height: 19.200000762939453px;
  --www-genesis-live-IBM-plex-sans-medium-strikethrough-font-style: normal;
  --www-genesis-live-IBM-plex-sans-medium-upper-font-family: "IBM Plex Sans",
    Helvetica;
  --www-genesis-live-IBM-plex-sans-medium-upper-font-weight: 500;
  --www-genesis-live-IBM-plex-sans-medium-upper-font-size: 16px;
  --www-genesis-live-IBM-plex-sans-medium-upper-letter-spacing: -0.1599999964237213px;
  --www-genesis-live-IBM-plex-sans-medium-upper-line-height: 14px;
  --www-genesis-live-IBM-plex-sans-medium-upper-font-style: normal;
  --www-genesis-live-IBM-plex-sans-light-font-family: "IBM Plex Sans", Helvetica;
  --www-genesis-live-IBM-plex-sans-light-font-weight: 300;
  --www-genesis-live-IBM-plex-sans-light-font-size: 24px;
  --www-genesis-live-IBM-plex-sans-light-letter-spacing: -0.9599999785423279px;
  --www-genesis-live-IBM-plex-sans-light-line-height: 20px;
  --www-genesis-live-IBM-plex-sans-light-font-style: normal;
  --www-genesis-live-IBM-plex-sans-regular-upper-font-family: "IBM Plex Sans",
    Helvetica;
  --www-genesis-live-IBM-plex-sans-regular-upper-font-weight: 400;
  --www-genesis-live-IBM-plex-sans-regular-upper-font-size: 16px;
  --www-genesis-live-IBM-plex-sans-regular-upper-letter-spacing: 1.1200000047683716px;
  --www-genesis-live-IBM-plex-sans-regular-upper-line-height: 24px;
  --www-genesis-live-IBM-plex-sans-regular-upper-font-style: normal;
  --www-genesis-live-IBM-plex-sans-semibold-font-family: "IBM Plex Sans",
    Helvetica;
  --www-genesis-live-IBM-plex-sans-semibold-font-weight: 600;
  --www-genesis-live-IBM-plex-sans-semibold-font-size: 14px;
  --www-genesis-live-IBM-plex-sans-semibold-letter-spacing: 0.14000000059604645px;
  --www-genesis-live-IBM-plex-sans-semibold-line-height: 20px;
  --www-genesis-live-IBM-plex-sans-semibold-font-style: normal;
}
